*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", Arial, sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#141e30,#243b55);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Main container */
.dashboard{
    width:1000px;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(14px);
    padding:50px;
    border-radius:30px;
    box-shadow:0 25px 50px rgba(0,0,0,0.5);
    animation:fadeIn 1s ease;
}

@keyframes fadeIn{
    from{opacity:0; transform:scale(0.9);}
    to{opacity:1; transform:scale(1);}
}

h1{
    text-align:center;
    font-size:42px;
    margin-bottom:10px;
}

#welcome{
    text-align:center;
    font-size:18px;
    margin-bottom:35px;
    opacity:0.9;
}

/* Games grid */
.games{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:25px;
    justify-items:center;
}


.card{
    width:100%;
    max-width:280px;
    background:rgba(255,255,255,0.15);
    border-radius:25px;
    padding:30px 20px;
    text-align:center;
    box-shadow:0 20px 40px rgba(0,0,0,0.4);
    transition:0.3s;
    animation:pop 0.8s ease;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

@keyframes pop{
    from{opacity:0; transform:translateY(40px);}
    to{opacity:1; transform:translateY(0);}
}

.card:hover{
    transform:translateY(-8px) scale(1.03);
    box-shadow:0 0 30px rgba(255,255,255,0.4);
}

.card h2{
    font-size:24px;
    margin-bottom:10px;
}

.card p{
    font-size:15px;
    opacity:0.9;
    margin-bottom:20px;
}

/* Buttons */
.card a{
    display:inline-block;
    padding:12px 28px;
    border-radius:25px;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    color:white;
    background:linear-gradient(90deg,#ff512f,#dd2476);
    transition:0.3s;
    margin-top: auto;
}

.card a:hover{
    transform:scale(1.08);
    box-shadow:0 0 20px rgba(255,255,255,0.6);
}

.center-card{
    grid-column:1 / -1;
    justify-self:center;
    max-width:320px;
}

.bottom{
    margin-top:40px;
    text-align:center;
}

.bottom a{
    margin:8px;
    display:inline-block;
    padding:12px 30px;
    border-radius:30px;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    color:white;
    align-items:center;
    background:linear-gradient(90deg,#ff512f,#dd2476);
    transition:0.3s;
}

.bottom a:hover{
    transform:scale(1.08);
    box-shadow:0 0 25px rgba(255,255,255,0.6);
}


